html, body {
	margin: 0;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	/* justify-content: stretch; */
}
body > * {
	flex: 0;
	margin: auto;
}
svg {
	flex: 1;
	margin: 0;
}